[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
requests = "==2.18.*"
scute = "==1.*"
flask = "==0.12"
aiohttp = "*"

[dev-packages]
pytest = "==3.2.*"
pylint = "==1.7.*"
"pytest-pylint" = "*"

[requires]
python_version = "3.6"
